@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: 'Kanit', monospace;
  }
  
  img {
    width: 100%;
  }

  h1 {
    font-family: fKanit;
  }