@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: 'DotGothic16', sans-serif;
  }
  
  img {
    width: 100%;
  }

  h1 {
    font-family: 'DotGothic16', sans-serif;
    color: red;
    text-decoration: solid;
  }