@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-family: 'Silkscreen', cursive;
    --logo-color: #F05A3B;
    --header-main-color: #FFDFB9;
    --link-color: #1C1A18;
    --alternative-link-color: #FFFDF1;
    --title-color: #221f1d;
  }

  @media (min-width: 500px) {
    .main__item,
    .product__card,
    .header__main-sec {
        max-width: 900px;
        margin: auto;
    }
  }