.product__card-item {
    border: solid 2px var(--border-product-color);
    border-radius: 13px;
    margin: 5px;
    padding: 5px;
}

.product__card-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.product__card-subtitle {
    background-color: var(--product-subtitle-bg-color);
    border-radius: 13px;
    margin: 0.2rem;
    padding: 0.2rem;
    color: var(--subtitle-text-color);
}

.product__card-description {
    text-transform: uppercase;
    margin: 0.2rem;
    padding: 0.2rem;
    text-align: center;
    color: var(--product-text-color);
}

.product__card-price {
    text-transform: uppercase;
    padding: 0.1rem;
    text-align: center;
    color: var(--price-color);
}

@media (min-width: 500px) {
    
}